[Unit]
Description=Wireguard Ping Peer ${IP} each ${INTERVAL} to Keep Alive. Use systemctl edit to set the IP enviroment variable.
After=wg-quick@wg0.service

[Service]
ExecStart=/bin/ping ${IP} -i ${INTERVAL}

[Install]
WantedBy=multi-user.target